<form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div class="card m-5">
        <div class="flex flex-column card-container green-container">
            <h5>User Data Form</h5>
            <div class="formgrid grid">

                <div class="field col-12 md:col-3">
                    <label for="firstname">Firstname</label>
                    <input required minlength="4" pInputText type="text" id="firstname" class="inputfield w-full"
                        formControlName="firstname" placeholder="Enter Firstname">
                </div>
                <div class="field col-12 md:col-3">
                    <label for="lastname">Lastname</label>
                    <input pInputText id="lastname" type="text" class="inputfield w-full" formControlName="lastname"
                        placeholder="Enter Lastname">
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col-12 md:col-3">
                    <label for="age">Age</label>
                    <input pInputText id="age" type="number" class="inputfield w-full" formControlName="age"
                        placeholder="Enter Age">
                </div>

                <div class="p-d-flex p-flex-column" class="radioButton">
                    <label for="Gender" class="">Select Gender</label>
                    <div class="formgrid grid">
                        <p-radioButton class="m-2" value="Female" formControlName="gender" value="Female" label="Female"
                            #gender>{{gender[0]}}</p-radioButton>
                        <p-radioButton class="m-2" value="Male" formControlName="gender" label="Male" #gender>
                            {{gender[1]}}</p-radioButton>
                        <p-radioButton class="m-2" value="Not Specified" formControlName="gender" value="Not Specified"
                            label="Not Specified" #gender>{{gender[2]}}</p-radioButton>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="p-d-flex p-flex-column">
                    <label for="phone" class="m-2">Phone</label>
                    <div formArrayName="phone"
                        *ngFor="let phone of userForm.get('phone').controls; let i=index">
                        <div [formGroupName]="i" class="inline-flex card-container m-2">
                            <input pInputText id="phone" type="number" class="inputfield w-full flex-1" formControlName="phone"
                                placeholder="Enter Phone Number">
                                <button class="flex-1 ml-2" pButton label="Add Phone Number" type="button"
                                (click)="addPhoneNumber()"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="p-d-flex p-flex-column">
                <label for="education" class="m-2">Select Education</label>
                    <div formArrayName="education">
                        <div *ngFor="let education of educationControls; let i=index" class="inputfield w-full flex-1 mt-2">
                            <p-dropdown class="inline-flex card-container ml-2" [options]="educationLevel" [formControlName]="i" placeholder="Select Education"
                                optionLabel="name" optionValue="short">
                            </p-dropdown>
                            <button class="flex-1 ml-2" pButton type="button" label="Add Education"
                                (click)="addEducationField()"></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="formgrid grid">
                <div class="p-d-flex p-flex-column mt-2">
                    <label for="profile" class="m-2">Select Profile</label>
                    <div class="inputfield w-full flex-1 mt-2 ml-2">
                        <p-dropdown [options]="profiles" formControlName="profile" optionLabel="name"
                            optionValue="short" placeholder="Select Profile">
                        </p-dropdown>
                    </div>
                </div>
            </div>

        </div>

        <div class="formStatus">
            <p>Form status: {{userForm.status}}.</p>
            <span *ngIf="!userForm.valid">Please fill all the areas with the appropriate
                information then click Submit.</span>

                <div class="flex justify-content-center mr-7">
                    <button [disabled]="!userForm.valid" pButton type="submit" label="Submit"></button>
                </div>

        </div>

    </div>
</form>

    <div *ngIf="!isUserLoggedIn; else isLogOut">
        <button pButton label="Logout" routerLink="/logout"></button>
    </div>

    <ng-template #isLogOut>
                <a class="nav-link" routerLink="/login">Login</a>
    </ng-template>


<router-outlet></router-outlet>

