// label, h5, span, p {
//     font-family: serif;
//     font-size: 1rem;
//     font-weight: 600;
//     line-height: 1.2;
//     color: #333333;
// }

// .formStatus {
//     width: 700px;
// }

// .submitForm {
//     position: relative;
//     left: 820px;
//     bottom: 40px;
// }
/* Phone */

// .phone {
//     position: relative; margin: 2px; right: 2px;
// }

// .phoneInput {
//     padding: 5px;
//     position: relative; 
//     right: 8px;
// }

// .addPhone {
//     position: relative;
//     left: 2.5px;
//     top: 30px;
// }

// .phoneLabel {
//     position: relative; left: 4px;
// }

/* Radio Button */

// .radioButton {
//     font-family: serif;
//     font-weight: 600;
//     line-height: 1.2;
//     color: #333333;
//     margin-left: 10px;
//     margin-top: 10px;
// }

// /* Education dropdown */

// .educationDropdown {
//     position: relative; 
//     right: 120px; 
//     top: 30px;
//     padding: 5px;
// }

// .addEducationButton {
//     position: relative;
//     right: 300px;
//     top: 35px;
// }

// .educationLabel {
//     position: relative;
//     margin-top: 6.5px; 
//     left:7px;
// }

/* Select Profile */

// .selectProfile {
//     position: relative; 
//     right: 18px; 
//     margin-top: 15px;
// }

// .labelProfile {
//     position: relative; left: 10px;
// }


